ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
.screen {
    background-color: #3880ff;
}
a{
    color: #fff;
}
.style14 {
    border-top: 1px solid black;
}